@charset "UTF-8";

article {
    width: 400px;
    padding: 20px;
    border: 5px solid rgb(255, 81, 0);
    margin: 10px;
    text-align: center;
} 

article#img01 {
    position: relative;
    margin-left: 100px;
    
}

article#img02 {
    position: relative;
    margin: -470px 10px 90px 700px;
    
}

article#img03 {
    position: relative;
    margin-left: 100px;

}

article#img04 {
    position: relative;
    margin: -470px 10px 90px 700px;
   
}

article#img05 {
    position: relative;
    margin-left: 100px;
   
}

article#img06 {
    position: relative;
    margin: -470px 10px 90px 700px;
    
}

section#album img {
    width: 300px;
    height: 300px;
}

li {
    list-style: none;
}

h1 {
    font-weight: bolder;
    text-align: center;
}

h2 {
    font-weight: bolder;
}


