@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    background-color: rgba(253, 250, 250, 0.9);
    font-family: 'Titillium Web', sans-serif;
}

header#cabecalho h2,
ul {
    font-family: 'Titillium Web', sans-serif;
    font-size: 12pt;
}

img#cabecalho {
    position: relative;
    left: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/*formatação do menu*/
nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 870px;
}

nav#menu li {
    display: inline-block;
    background-color: rgb(248, 111, 61);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: orangered;
}

nav#menu h2 {
    display: none;
}

section#corpo {
    width: 1200px;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
    background-color: #0c0c0c;
    color: white;
    border-radius: 10px;
    position: relative;
    right: -3%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

section#corpo h2 {
    display: inline-block;
    vertical-align: top;
    font-size: 30pt;
    width: 40px;
}

section#corpo h2:hover {
    text-decoration: underline;
}

section#corpo p {
    display: inline-block;
    width: 500px;
    text-align: justify;
    text-indent: 20px;
    vertical-align: -400%;
    
}

section#corpo p:hover {
    text-decoration: underline;
}

img#a-banda {
    border-radius: 5px;
}


footer#rodape {
    font-size: 15pt;
    text-align: center;
}

footer#rodape a {
    color: black;
    text-decoration: none;
}

footer#rodape a:hover {
    font-size: 20pt;
    color: rgb(255, 60, 0);
    text-decoration:underline;
    transition: 1s;
}

div#carouselExampleCaptions {
    width: 900px;
    height: 600px;
    position: relative;
    left: 200px;
}

h5 {
    font-family: 'Titillium Web', sans-serif;
    color:orangered;
    font-weight: bolder;
    font-size: 50pt;
    text-shadow:-1px -1px 0px rgb(10, 10, 10), 
    -1px 1px 0px rgb(10, 10, 10),      
     1px -1px 0px rgb(10, 10, 10),    
     1px 0px 0px rgb(10, 10, 10);
}

div#carouselExampleCaptions p{
    color: black;
    font-size: 20pt;
    font-family: 'Titillium Web', sans-serif;
    text-shadow:-1px -1px 0px #FFF, 
    -1px 1px 0px #FFF,      
     1px -1px 0px #FFF,    
     1px 0px 0px #FFF;
}


